.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
}

.block {
    position: absolute;
    border: 2px dashed rgba(0, 0, 0, 0.5);

}

.handler {
    position: absolute;
    cursor: move;

}

.handler.x {
    width: 3rem
}

.handler.y {
    height: 3rem
}


.darken-when-hover{
    color: rgba(0,0,0,0.1);
    cursor: pointer;
}
.darken-when-hover:hover{
    color: rgba(0,0,0,0.9);
}


.anchor{
    border-radius: 10px;
    position: absolute;
    width:7px;
    height:7px;
}

.anchor.border{
    background-color: rgba(0,0,0,0.7);
    border:1px solid rgba(0,0,0,0.3);
}

